# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches and testing
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
env/
ENV/

# Sensitive Configuration & Credentials
config.json
credentials.enc
*.enc

# Local Logs & database files
*.log
order_execution.log

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

*.sql
